version: 2
updates:
  - package-ecosystem: "swift"
    directory: "/Swiftness"
    schedule:
      interval: "weekly"
    groups:
      dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
