# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift
name: Build

on:
  push:
    branches: [ "*" ]
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
          
    - name: Setup Swift
      uses: swift-actions/setup-swift@v2
      with:
        cache: true
      
    - name: Check Swift Version
      run: swift --version
    
    - name: Build Project
      uses: brightdigit/swift-build@v1
      with:
        # working-directory: ./Swiftness/
        scheme: Swiftness
        build-only: true
      
    
